<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning JavaScript</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>

   <h1><%= post.title %></h1>

   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque earum odio enim. Numquam, 
    qui cupiditate ipsam accusamus ducimus dignissimos quaerat reprehenderit, 
    nisi eaque necessitatibus, consequuntur dolor velit omnis! 
    Nostrum saepe totam voluptatibus ipsum illum expedita impedit excepturi id corporis nemo, 
    iure numquam incidunt beatae laboriosam, rem recusandae? 
    Molestias quam repellat impedit temporibus vitae saepe nesciunt modi est, 
    fuga ipsam possimus corrupti quo corporis fugiat animi explicabo dolor libero nostrum 
    obcaecati voluptates repellendus consectetur, facilis distinctio. Esse nemo ipsam illo cumque cum 
    laboriosam et reiciendis modi harum! 
    Tempore repellat ad quasi? Quisquam totam ipsum tenetur beatae nostrum, illo pariatur voluptates iure?</p>

    <%- include('../partials/footer.ejs') %>

</body>
</html>